@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  padding: 50px;
  font-size: 25px;
  padding-top: 10px;
}

.imger li:nth-child(5) img {
  width: 175px;
}

.imger li:nth-child(2) img {
  filter: invert(1);
}

.imger li:first-child img {
  width: 160px;
}

.switcher {
  display: flex;
  justify-content: end;
  gap: 4px;
  z-index: 10;
  position: relative;
  flex-direction: row-reverse;
  margin-top: -40px;
  margin-bottom: 20px;
  margin-right: 20px;
}
